:root {
    --primery-text-color: #2E2F42;
    --text-color: #434455;
    --color-logo: #4D5AE5;
    --minor-color: #E7E9FC;
    --two-color-logo: #F4F4FD;
}

.list {
    list-style: none;
}
/* Header */
.header {
    background-color: #FFFFFF;
}
/* Лого */
.web-logo {
    color: var(--color-logo);
}
.studio-logo {
    color: var(--primery-text-color);
}
/* Навігація */
.navigation-link {
    color: var(--primery-text-color);
}
.navigation-link:hover, .navigation-link:focus {
    color: var(--color-logo);
}
/* Контакти */
.address {
    color: var(--text-color);
}
.address:hover, .address:focus {
    color: var(--color-logo);
}

/* Footer */
.footer {
    background-color: var(--primery-text-color);
}
.secondary-studio-logo {
    color:  var(--two-color-logo);
}
.footer-text {
    color: #E7E9FC;
}